#container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    width: 70vw;
    margin: 10vh;
    margin-bottom: 10vh;
}
.cell {
    border: 1px solid;
    width: 7vw;
    height: 7vh;
    cursor: pointer;
}
.hoverCell {
    background: grey;
}